

#tags {
	padding: 20px 10px;
}

#tags .tag {
	display: block;
	float:left;
}

#tags .tag a.tagname {
	font-size:110%;
    white-space: nowrap;
	padding: 5px 8px 5px 8px;
	margin: 4px;
	background:#CCC;
	border: 1px solid #BBB;
	border-radius: 3px; 
	color: #FFF; 
	text-shadow: -1px -1px 0 #AAA;
}
#tags .tag a.tagname:hover {
	text-decoration: none;
	text-shadow: -1px -1px 0 #72A8D6;
    border: 1px solid #72A8D6;
    background: #92CBF8;
}